#footer {
  background-color: $footer;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    @media only screen and (min-width : 48em) {
      flex-direction: row;
    }
  }

  .region {
    width: 100%;
    padding: 40px 15px 30px;
    @media only screen and (min-width : 48em) {
      width: 33.3%;
      padding: 80px 15px 60px;
    }
  }
  .region-footer-left {
    background-color: $footer-left;
  }
  .region-footer-middle {
    background-color: $footer-middle;
    display: flex;
    margin: 0 -15px;

    nav {
      padding: 0 15px;
      width: 50%;

      h3 {
        color: $white;
        font-weight: 100;
        text-transform: uppercase;
        font-size: rem-calc(18px);
        margin: 25px 0 20px 0;
      }

      ul {
        margin: 0;

        li {
          padding: 10px 0;
          border-top: 1px solid rgba(255,255,255,0.09);

          &:first-child {
            padding-top: 0;
            border-top: none;
          }
        }

        a {
          font-weight: bold;
          color: $footer-text;
          transition: color 0.4s;

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
  .region-footer-right {
    background-color: $footer-right;

    #views-exposed-form-search-page-search-page {
      position: relative;

      .form-item {
        margin: 0;
        float: none;

        label {
          color: $white;
          font-weight: 100;
          text-transform: uppercase;
          font-size: rem-calc(18px);
          margin: 25px 0 20px 0;
        }

        input {
          width: 100%;
          margin: 0;
          border-radius: 4px;
        }
      }

      .form-actions {
        margin: 0;

        input.form-submit {
          position: absolute;
          margin: 0;
          right: 0;
          bottom: 0;
          border-radius: 0 3px 3px 0;
          background-color: $primary-dark;
          transition: background-color 0.4s;

          &:hover {
            background-color: $secondary;
          }
        }
      }
    }

    #block-views-block-site-settings-social-links {
      .block-title {
        padding: 0;
        margin: 0;
        text-align: left;

        h2 {
          color: $white;
          font-weight: 100;
          text-transform: uppercase;
          font-size: rem-calc(18px);
          margin: 20px 0;
          line-height: 30px;
        }
      }
      .social-media-links--platforms {
        margin: 0;
        display: flex;

        li {
          margin: 0;
        }

        a {
          display: block;
          width: 48px;
          height: 48px;
          border-radius: 4px;
          font-size: rem-calc(26px);
          overflow: hidden;
          line-height: 48px;
          color: $white;
          transition: all 0.4s;

          &.social-media-link-icon--twitter {
            background: #00ACED;
            text-shadow: 0px 0px #0087ba, 1px 1px #0087ba, 2px 2px #0087ba, 3px 3px #0087ba, 4px 4px #0087ba, 5px 5px #0087ba, 6px 6px #0087ba, 7px 7px #0087ba, 8px 8px #0087ba, 9px 9px #0087ba, 10px 10px #0087ba, 11px 11px #0087ba, 12px 12px #0087ba, 13px 13px #0087ba, 14px 14px #0087ba, 15px 15px #0087ba, 16px 16px #0087ba, 17px 17px #0087ba, 18px 18px #0087ba, 19px 19px #0087ba, 20px 20px #0087ba, 21px 21px #0087ba, 22px 22px #0087ba, 23px 23px #0087ba, 24px 24px #0087ba, 25px 25px #0087ba, 26px 26px #0087ba, 27px 27px #0087ba, 28px 28px #0087ba, 29px 29px #0087ba, 30px 30px #0087ba;
            &:hover {
              background: $white;
              text-shadow: 0px 0px #d4d4d4, 1px 1px #d4d4d4, 2px 2px #d4d4d4, 3px 3px #d4d4d4, 4px 4px #d4d4d4, 5px 5px #d4d4d4, 6px 6px #d4d4d4, 7px 7px #d4d4d4, 8px 8px #d4d4d4, 9px 9px #d4d4d4, 10px 10px #d4d4d4, 11px 11px #d4d4d4, 12px 12px #d4d4d4, 13px 13px #d4d4d4, 14px 14px #d4d4d4, 15px 15px #d4d4d4, 16px 16px #d4d4d4, 17px 17px #d4d4d4, 18px 18px #d4d4d4, 19px 19px #d4d4d4, 20px 20px #d4d4d4, 21px 21px #d4d4d4, 22px 22px #d4d4d4, 23px 23px #d4d4d4, 24px 24px #d4d4d4, 25px 25px #d4d4d4, 26px 26px #d4d4d4, 27px 27px #d4d4d4, 28px 28px #d4d4d4, 29px 29px #d4d4d4, 30px 30px #d4d4d4;
              i {
                color: #00ACED;
              }
            }
          }
          &.social-media-link-icon--facebook {
            background: #3B579D;
            text-shadow: 0px 0px #2d4278, 1px 1px #2d4278, 2px 2px #2d4278, 3px 3px #2d4278, 4px 4px #2d4278, 5px 5px #2d4278, 6px 6px #2d4278, 7px 7px #2d4278, 8px 8px #2d4278, 9px 9px #2d4278, 10px 10px #2d4278, 11px 11px #2d4278, 12px 12px #2d4278, 13px 13px #2d4278, 14px 14px #2d4278, 15px 15px #2d4278, 16px 16px #2d4278, 17px 17px #2d4278, 18px 18px #2d4278, 19px 19px #2d4278, 20px 20px #2d4278, 21px 21px #2d4278, 22px 22px #2d4278, 23px 23px #2d4278, 24px 24px #2d4278, 25px 25px #2d4278, 26px 26px #2d4278, 27px 27px #2d4278, 28px 28px #2d4278, 29px 29px #2d4278, 30px 30px #2d4278;
            &:hover {
              background: $white;
              text-shadow: 0px 0px #d4d4d4, 1px 1px #d4d4d4, 2px 2px #d4d4d4, 3px 3px #d4d4d4, 4px 4px #d4d4d4, 5px 5px #d4d4d4, 6px 6px #d4d4d4, 7px 7px #d4d4d4, 8px 8px #d4d4d4, 9px 9px #d4d4d4, 10px 10px #d4d4d4, 11px 11px #d4d4d4, 12px 12px #d4d4d4, 13px 13px #d4d4d4, 14px 14px #d4d4d4, 15px 15px #d4d4d4, 16px 16px #d4d4d4, 17px 17px #d4d4d4, 18px 18px #d4d4d4, 19px 19px #d4d4d4, 20px 20px #d4d4d4, 21px 21px #d4d4d4, 22px 22px #d4d4d4, 23px 23px #d4d4d4, 24px 24px #d4d4d4, 25px 25px #d4d4d4, 26px 26px #d4d4d4, 27px 27px #d4d4d4, 28px 28px #d4d4d4, 29px 29px #d4d4d4, 30px 30px #d4d4d4;
              i {
                color: #3B579D;
              }
            }
          }
          &.social-media-link-icon--youtube {
            background: #E62117;
            text-shadow: 0px 0px #cc181e, 1px 1px #cc181e, 2px 2px #cc181e, 3px 3px #cc181e, 4px 4px #cc181e, 5px 5px #cc181e, 6px 6px #cc181e, 7px 7px #cc181e, 8px 8px #cc181e, 9px 9px #cc181e, 10px 10px #cc181e, 11px 11px #cc181e, 12px 12px #cc181e, 13px 13px #cc181e, 14px 14px #cc181e, 15px 15px #cc181e, 16px 16px #cc181e, 17px 17px #cc181e, 18px 18px #cc181e, 19px 19px #cc181e, 20px 20px #cc181e, 21px 21px #cc181e, 22px 22px #cc181e, 23px 23px #cc181e, 24px 24px #cc181e, 25px 25px #cc181e, 26px 26px #cc181e, 27px 27px #cc181e, 28px 28px #cc181e, 29px 29px #cc181e, 30px 30px #cc181e;
            &:hover {
              background: $white;
              text-shadow: 0px 0px #d4d4d4, 1px 1px #d4d4d4, 2px 2px #d4d4d4, 3px 3px #d4d4d4, 4px 4px #d4d4d4, 5px 5px #d4d4d4, 6px 6px #d4d4d4, 7px 7px #d4d4d4, 8px 8px #d4d4d4, 9px 9px #d4d4d4, 10px 10px #d4d4d4, 11px 11px #d4d4d4, 12px 12px #d4d4d4, 13px 13px #d4d4d4, 14px 14px #d4d4d4, 15px 15px #d4d4d4, 16px 16px #d4d4d4, 17px 17px #d4d4d4, 18px 18px #d4d4d4, 19px 19px #d4d4d4, 20px 20px #d4d4d4, 21px 21px #d4d4d4, 22px 22px #d4d4d4, 23px 23px #d4d4d4, 24px 24px #d4d4d4, 25px 25px #d4d4d4, 26px 26px #d4d4d4, 27px 27px #d4d4d4, 28px 28px #d4d4d4, 29px 29px #d4d4d4, 30px 30px #d4d4d4;
              i {
                color: #E62117;
              }
            }
          }
          &.social-media-link-icon--linkedin {
            background: #007BB6;
            text-shadow: 0px 0px #005983, 1px 1px #005983, 2px 2px #005983, 3px 3px #005983, 4px 4px #005983, 5px 5px #005983, 6px 6px #005983, 7px 7px #005983, 8px 8px #005983, 9px 9px #005983, 10px 10px #005983, 11px 11px #005983, 12px 12px #005983, 13px 13px #005983, 14px 14px #005983, 15px 15px #005983, 16px 16px #005983, 17px 17px #005983, 18px 18px #005983, 19px 19px #005983, 20px 20px #005983, 21px 21px #005983, 22px 22px #005983, 23px 23px #005983, 24px 24px #005983, 25px 25px #005983, 26px 26px #005983, 27px 27px #005983, 28px 28px #005983, 29px 29px #005983, 30px 30px #005983;
            &:hover {
              background: $white;
              text-shadow: 0px 0px #d4d4d4, 1px 1px #d4d4d4, 2px 2px #d4d4d4, 3px 3px #d4d4d4, 4px 4px #d4d4d4, 5px 5px #d4d4d4, 6px 6px #d4d4d4, 7px 7px #d4d4d4, 8px 8px #d4d4d4, 9px 9px #d4d4d4, 10px 10px #d4d4d4, 11px 11px #d4d4d4, 12px 12px #d4d4d4, 13px 13px #d4d4d4, 14px 14px #d4d4d4, 15px 15px #d4d4d4, 16px 16px #d4d4d4, 17px 17px #d4d4d4, 18px 18px #d4d4d4, 19px 19px #d4d4d4, 20px 20px #d4d4d4, 21px 21px #d4d4d4, 22px 22px #d4d4d4, 23px 23px #d4d4d4, 24px 24px #d4d4d4, 25px 25px #d4d4d4, 26px 26px #d4d4d4, 27px 27px #d4d4d4, 28px 28px #d4d4d4, 29px 29px #d4d4d4, 30px 30px #d4d4d4;
              i {
                color: #007BB6;
              }
            }
          }
          &.social-media-link-icon--instagram {
            background: #9942B6;
            text-shadow: 0px 0px #b52b69, 1px 1px #b52b69, 2px 2px #b52b69, 3px 3px #b52b69, 4px 4px #b52b69, 5px 5px #b52b69, 6px 6px #b52b69, 7px 7px #b52b69, 8px 8px #b52b69, 9px 9px #b52b69, 10px 10px #b52b69, 11px 11px #b52b69, 12px 12px #b52b69, 13px 13px #b52b69, 14px 14px #b52b69, 15px 15px #b52b69, 16px 16px #b52b69, 17px 17px #b52b69, 18px 18px #b52b69, 19px 19px #b52b69, 20px 20px #b52b69, 21px 21px #b52b69, 22px 22px #b52b69, 23px 23px #b52b69, 24px 24px #b52b69, 25px 25px #b52b69, 26px 26px #b52b69, 27px 27px #b52b69, 28px 28px #b52b69, 29px 29px #b52b69, 30px 30px #b52b69;
            &:hover {
              background: $white;
              text-shadow: 0px 0px #d4d4d4, 1px 1px #d4d4d4, 2px 2px #d4d4d4, 3px 3px #d4d4d4, 4px 4px #d4d4d4, 5px 5px #d4d4d4, 6px 6px #d4d4d4, 7px 7px #d4d4d4, 8px 8px #d4d4d4, 9px 9px #d4d4d4, 10px 10px #d4d4d4, 11px 11px #d4d4d4, 12px 12px #d4d4d4, 13px 13px #d4d4d4, 14px 14px #d4d4d4, 15px 15px #d4d4d4, 16px 16px #d4d4d4, 17px 17px #d4d4d4, 18px 18px #d4d4d4, 19px 19px #d4d4d4, 20px 20px #d4d4d4, 21px 21px #d4d4d4, 22px 22px #d4d4d4, 23px 23px #d4d4d4, 24px 24px #d4d4d4, 25px 25px #d4d4d4, 26px 26px #d4d4d4, 27px 27px #d4d4d4, 28px 28px #d4d4d4, 29px 29px #d4d4d4, 30px 30px #d4d4d4;
              i {
                color: #9942B6;
              }
            }
          }
        }
      }
    }
  }

  .site-slogan {
    margin-top: 55px;
    color: $footer-text;
    font-style: italic;
  }

  #block-views-block-site-settings-contacts {
    color: $footer-text;

    .views-field-field-address {
      margin-top: 10px;
    }
    .views-field-field-phone-number,
    .views-field-field-email {
      margin-top: 10px;

      a, i {
        color: $secondary;
        font-weight: bold;
      }
    }
  }
}

.copyright {
  background-color: $primary;
  padding: 50px 0 30px;
  color: $footer-text;
  text-align: center;
  position: relative;

  #toTop {
    z-index: 1;
    position: absolute;
    width: 60px;
    height: 50px;
    left: 50%;
    top: -25px;
    margin-left: -30px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.09);
    line-height: 50px;
    cursor: pointer;
    transition: all 0.4s;

    i {
      color: $white;
      transition: all 0.4s;
    }

    &:hover {
      border: 1px solid $secondary;
      i {
        color: $secondary;
      }
    }
  }

  .copyright-text,
  .siteby {
    margin-top: 10px;

    a {
      color: $footer-text;
      text-decoration: underline;
    }
  }
}
