.ui-dialog:not(.ui-dialog-position-side) {
  border-radius: 0;
  border: 0 !important;
  .ui-dialog-titlebar {
    background: $primary_dark;
    color: $white;
  }
  .webform-confirmation-modal--content {
    font-size: rem-calc(20);
  }
  .ui-button {
    outline: none;
    &:hover, &:focus {
      background: transparent no-repeat;

      .ui-icon-closethick {
        background: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg"><path d="m9.6575 7.7397c-0.13699-0.13699-0.13699-0.34247 0-0.47945l5.137-5.137c0.13699-0.13699 0.20548-0.34247 0.20548-0.47945s-0.068493-0.34247-0.20548-0.47945l-0.9589-0.9589c-0.13699-0.13699-0.34246-0.20548-0.47945-0.20548-0.20548 0-0.34246 0.068493-0.47945 0.20548l-5.137 5.137c-0.13699 0.13699-0.34247 0.13699-0.47945 0l-5.137-5.137c-0.13699-0.13699-0.34247-0.20548-0.47945-0.20548s-0.34247 0.068493-0.47945 0.20548l-0.9589 0.9589c-0.13699 0.13699-0.20548 0.34247-0.20548 0.47945s0.068493 0.34247 0.20548 0.47945l5.137 5.137c0.13699 0.13699 0.13699 0.34247 0 0.47945l-5.137 5.137c-0.13699 0.13699-0.20548 0.34247-0.20548 0.47945 0 0.13699 0.068493 0.34247 0.20548 0.47945l0.9589 0.9589c0.13699 0.13699 0.34247 0.20548 0.47945 0.20548s0.34247-0.06849 0.47945-0.20548l5.137-5.137c0.13699-0.13699 0.34247-0.13699 0.47945 0l5.137 5.137c0.13699 0.13699 0.34247 0.20548 0.47945 0.20548 0.13699 0 0.34247-0.06849 0.47945-0.20548l0.9589-0.9589c0.13699-0.13699 0.20548-0.34246 0.20548-0.47945 0-0.13699-0.06849-0.34246-0.20548-0.47945z" style="fill:%23ffffff"/></svg>') no-repeat 50% 50%;
        background-size: 15px 15px;
      }
    }
  }
  .ui-icon-closethick {
    background: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg"><path d="m9.6575 7.7397c-0.13699-0.13699-0.13699-0.34247 0-0.47945l5.137-5.137c0.13699-0.13699 0.20548-0.34247 0.20548-0.47945s-0.068493-0.34247-0.20548-0.47945l-0.9589-0.9589c-0.13699-0.13699-0.34246-0.20548-0.47945-0.20548-0.20548 0-0.34246 0.068493-0.47945 0.20548l-5.137 5.137c-0.13699 0.13699-0.34247 0.13699-0.47945 0l-5.137-5.137c-0.13699-0.13699-0.34247-0.20548-0.47945-0.20548s-0.34247 0.068493-0.47945 0.20548l-0.9589 0.9589c-0.13699 0.13699-0.20548 0.34247-0.20548 0.47945s0.068493 0.34247 0.20548 0.47945l5.137 5.137c0.13699 0.13699 0.13699 0.34247 0 0.47945l-5.137 5.137c-0.13699 0.13699-0.20548 0.34247-0.20548 0.47945 0 0.13699 0.068493 0.34247 0.20548 0.47945l0.9589 0.9589c0.13699 0.13699 0.34247 0.20548 0.47945 0.20548s0.34247-0.06849 0.47945-0.20548l5.137-5.137c0.13699-0.13699 0.34247-0.13699 0.47945 0l5.137 5.137c0.13699 0.13699 0.34247 0.20548 0.47945 0.20548 0.13699 0 0.34247-0.06849 0.47945-0.20548l0.9589-0.9589c0.13699-0.13699 0.20548-0.34246 0.20548-0.47945 0-0.13699-0.06849-0.34246-0.20548-0.47945z" style="fill:%23ffffff"/></svg>') no-repeat 50% 50%;
    background-size: 15px 15px;
  }

  &.general-site-style {
    border-radius: 8px;
    padding: 24px;

    .ui-dialog-titlebar {
      background: transparent;
      border: none;

      .ui-dialog-title {
        display: none;
      }
    }

    .ui-dialog-content {
      padding: 20px 0 0 0;
    }

    .ui-button {
      outline: none;
      &:hover, &:focus {
        background: transparent no-repeat;
        border: none;

        .ui-icon-closethick {
          background: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg"><path d="m9.6575 7.7397c-0.13699-0.13699-0.13699-0.34247 0-0.47945l5.137-5.137c0.13699-0.13699 0.20548-0.34247 0.20548-0.47945s-0.068493-0.34247-0.20548-0.47945l-0.9589-0.9589c-0.13699-0.13699-0.34246-0.20548-0.47945-0.20548-0.20548 0-0.34246 0.068493-0.47945 0.20548l-5.137 5.137c-0.13699 0.13699-0.34247 0.13699-0.47945 0l-5.137-5.137c-0.13699-0.13699-0.34247-0.20548-0.47945-0.20548s-0.34247 0.068493-0.47945 0.20548l-0.9589 0.9589c-0.13699 0.13699-0.20548 0.34247-0.20548 0.47945s0.068493 0.34247 0.20548 0.47945l5.137 5.137c0.13699 0.13699 0.13699 0.34247 0 0.47945l-5.137 5.137c-0.13699 0.13699-0.20548 0.34247-0.20548 0.47945 0 0.13699 0.068493 0.34247 0.20548 0.47945l0.9589 0.9589c0.13699 0.13699 0.34247 0.20548 0.47945 0.20548s0.34247-0.06849 0.47945-0.20548l5.137-5.137c0.13699-0.13699 0.34247-0.13699 0.47945 0l5.137 5.137c0.13699 0.13699 0.34247 0.20548 0.47945 0.20548 0.13699 0 0.34247-0.06849 0.47945-0.20548l0.9589-0.9589c0.13699-0.13699 0.20548-0.34246 0.20548-0.47945 0-0.13699-0.06849-0.34246-0.20548-0.47945z" style="fill:%23444444"/></svg>') no-repeat 50% 50%;
          background-size: 15px 15px;
        }
      }
    }
    .ui-icon-closethick {
      background: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg"><path d="m9.6575 7.7397c-0.13699-0.13699-0.13699-0.34247 0-0.47945l5.137-5.137c0.13699-0.13699 0.20548-0.34247 0.20548-0.47945s-0.068493-0.34247-0.20548-0.47945l-0.9589-0.9589c-0.13699-0.13699-0.34246-0.20548-0.47945-0.20548-0.20548 0-0.34246 0.068493-0.47945 0.20548l-5.137 5.137c-0.13699 0.13699-0.34247 0.13699-0.47945 0l-5.137-5.137c-0.13699-0.13699-0.34247-0.20548-0.47945-0.20548s-0.34247 0.068493-0.47945 0.20548l-0.9589 0.9589c-0.13699 0.13699-0.20548 0.34247-0.20548 0.47945s0.068493 0.34247 0.20548 0.47945l5.137 5.137c0.13699 0.13699 0.13699 0.34247 0 0.47945l-5.137 5.137c-0.13699 0.13699-0.20548 0.34247-0.20548 0.47945 0 0.13699 0.068493 0.34247 0.20548 0.47945l0.9589 0.9589c0.13699 0.13699 0.34247 0.20548 0.47945 0.20548s0.34247-0.06849 0.47945-0.20548l5.137-5.137c0.13699-0.13699 0.34247-0.13699 0.47945 0l5.137 5.137c0.13699 0.13699 0.34247 0.20548 0.47945 0.20548 0.13699 0 0.34247-0.06849 0.47945-0.20548l0.9589-0.9589c0.13699-0.13699 0.20548-0.34246 0.20548-0.47945 0-0.13699-0.06849-0.34246-0.20548-0.47945z" style="fill:%23444444"/></svg>') no-repeat 50% 50%;
      background-size: 15px 15px;

      &:focus {
        outline: none;
      }
    }
  }
}

.media-library-edit__modal::before {
  display: none;
}
.media-library-edit__link {
  overflow: hidden;
  text-indent: -999em;
}

#drupal-off-canvas .inline-block-list.with-thumbnails {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 50%;

    .inline-block-list__item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 10px;
      margin: 0;
      cursor: pointer;
    }

    img {
      width: 60px;
      height: auto;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }
    span {
      text-align: center;
      font-size: 0.875rem;
      width: 100%;
      cursor: pointer;
    }
  }
}
