{% set classes = [
  'layout',
  'layout-section',
  'layout--onecol-section',
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if add_container %}
    <div class="container">
    {% endif %}
      {{ content }}
    {% if add_container %}
    </div>
    {% endif %}
  </div>
{% endif %}

