$rounded-image-size-lg: 280px;
$rounded-image-size-md: 220px;
$rounded-image-size-sm: 120px;

.block-type-profiles {
  padding: 2.5rem 0;
  .profiles {
    justify-content: center;
  }
  .node--type-profile {
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .field--name-field-image {
    margin-bottom: 0.5rem;
    @include breakpoint(medium) {
      margin-bottom: 1.5rem;
    }
    img {
      width: $rounded-image-size-sm;
      height: $rounded-image-size-sm;
      border-radius: 50%;
      object-fit: cover;
      @include breakpoint(medium) {
        width: $rounded-image-size-md;
        height: $rounded-image-size-md;  
      }
      @include breakpoint(large) {
        width: $rounded-image-size-lg;
        height: $rounded-image-size-lg;  
      }
    }
  }
  .node-title {
    font-size: 1.25rem;
    line-height: initial;
    @include breakpoint(medium) {
      font-size: 1.5rem;
    }
  }
  .field--name-field-subtitle {
    color: $gray;
    text-transform: uppercase;
  }
  .field--name-field-email {
    a {
      color: $primary;
      &:hover {
        color: $secondary;
      }
    }
  }
  .field--name-field-content {
    font-style: italic;
    margin-top: 1rem;
    color: $gray_darker;
  }
}
