.view-display-id-employment_opportunities {
  padding: 40px 0;

  .node-title {
    color: $primary_dark;
  }

  .view-content {
    max-width: $global_width;
    margin: 0 auto;
    padding: 0 15px;
  }

  .views-row {
    & + .views-row {
      padding-top: 30px;
      margin-top: 30px;
      border-top: 1px solid #f2f4f5;
    }
  }

  .read-more {
    color: $secondary;
    font-weight: bold;

    &:hover {
      color: $primary;
    }
  }

  .field--name-field-button {
    margin-top: 30px;
  }
}
